url = "/:category?"
layout = "default"
title = "Sản Phẩm"

[productList]
limit = 2
==
<link type="text/css" rel="stylesheet" href=" {{'assets/css/custom-scrollbar.css'|theme }}">
<div class="container mx-auto p-6 flex flex-col md:flex-row gap-6">
    <div class="w-full md:w-1/3">
        <div class="w-[300px] p-4">
            <h2 class="relative inline-block text-2xl font-bold mb-4 after:content-[''] after:absolute after:left-0 after:bottom-[-6px] after:w-3/4 after:h-1 after:bg-[#36B6DD]">
                Danh Mục Sản Phẩm
            </h2>
            <div class="max-h-[600px] overflow-y-auto custom-scrollbar">
                <ul class="space-y-2">
                    <li class="flex justify-between items-center hover:text-blue-600 cursor-pointer border-b border-dashed border-gray-200 py-2">
                        <a href="{{ 'product-filter'|page({category: 'tat-ca-san-pham'}) }}" class="block w-full">
                            Tất Cả Sản Phẩm
                        </a>

                    </li>
                    {% for category in categories %}
                    <li class="flex justify-between items-center hover:text-blue-600 cursor-pointer border-b border-dashed border-gray-200 py-2">
                        <a href="{{ 'product-filter'|page({category: category.slug}) }}" class="block w-full">
                            {{ category.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="mb-6 mt-8">
                <h2 class="relative inline-block text-2xl font-bold mb-4 after:content-[''] after:absolute after:left-0 after:bottom-[-6px] after:w-3/4 after:h-1 after:bg-[#36B6DD]">
                    Bộ Lọc
                </h2>
                {% set priceRanges = [
                {'value': '0-1000000', 'label': 'Dưới 1.000.000đ'},
                {'value': '1000000-2000000', 'label': '1.000.000đ - 2.000.000đ'},
                {'value': '2000000-3000000', 'label': '2.000.000đ - 3.000.000đ'},
                {'value': '3000000-4000000', 'label': '3.000.000đ - 4.000.000đ'},
                {'value': '4000000-', 'label': 'Trên 4.000.000đ'}
                ] %}
                <form method="GET" action="">
                    <div class="space-y-2">
                        {% for range in priceRanges %}
                        <label class="flex items-center space-x-2">
                            <input type="radio" name="price" value="{{ range.value }}" {% if range.value==
                                   price_range %}checked{% endif %}>
                            <span>{{ range.label }}</span>
                        </label>
                        {% endfor %}
                    </div>
                    <button type="submit" class="mt-4 bg-blue-600 text-white px-4 py-2 rounded">Lọc</button>
                </form>

            </div>
        </div>
    </div>
    <div class="w-full md:w-2/3" id="productList">
        {% partial "product" %}
        {{ products.links() | raw }}
    </div>
</div>
