url = "/san-pham"
layout = "default"
title = "Sản Phẩm"

[productList]
limit = 2
==
<link type="text/css" rel="stylesheet" href=" {{"assets/css/paginate.css"|theme }}">
{% if products|length %}
<div class="container mx-auto p-6">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        {% for product in products %}
        <div
            class="relative bg-white shadow-md rounded-lg overflow-hidden hover:shadow-lg transition group transform hover:-translate-y-1 hover:shadow-xl">
            <div class="relative">
                <img src="{{ product.thumbnail|media }}" alt="{{ product.name }}"
                     class="w-full h-[250px] object-cover">
                <button
                    class="absolute bottom-0 left-0 w-full h-10 bg-blue-500 text-white flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transform translate-y-2 group-hover:translate-y-0 transition-all duration-300 cursor-pointer">
                    <i class="fa-solid fa-cart-shopping"></i>
                    Mua hàng
                </button>
            </div>
            <div class="p-4">
                <h3 class="text-lg font-semibold text-gray-900">{{ product.name }}</h3>
                <p class="text-gray-600 mt-2"><i class="fa-solid fa-dong-sign"></i> {{ product.price }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="mt-6 flex justify-center">
        {{ products.render|raw }}
    </div>
</div>
{% else %}
<p class="text-center text-gray-500">No products found.</p>
{% endif %}
